@import "./theme.scss";
@import "./navbar.scss";
@import "./hero.scss";
@import "./popularSection.scss";
@import "./signatureDishSection.scss";
@import "./iconMeaningSection.scss";
@import "./search.scss";
@import "./chefSection.scss";
@import "./abousUs.scss";
@import "./footer.scss";
@import "./restaurantsDashboard.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
