$WHITE: white;
$BLACK: black;
$LIGHT_ORANGE: #faf5eb;
$ORANGE: #f8e8c7;
$GREY: #f8f8f8;

@font-face {
  font-family: "HelveticaNeue";
  src: ("/assets/fonts/HelveticaNeue.ttf") format("ttf");
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: ("/assets/fonts/HelveticaNeue-Light.ttf") format("ttf");
}
@font-face {
  font-family: "HelveticaNeue-Medium";
  src: ("/assets/fonts/HelveticaNeue-Medium.ttf") format("ttf");
}
